 body {
     font-family: Arial, sans-serif;
     background-color: #f4f4f4;
     padding: 20px;
 }

 .container {

     background-color: #fff;
     padding: 20px;
     border-radius: 5px;
 }

 h2 {
     text-align: center;
 }

 label {
     display: block;
     margin-bottom: 5px;
 }

 input[type="text"],
 input[type="email"],
 input[type="date"],
 select {
     width: 100%;
     padding: 8px;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
     margin-bottom: 10px;
 }

 input[type="submit"] {
     background-color: #4CAF50;
     color: #fff;
     border: none;
     padding: 10px 20px;
     cursor: pointer;
 }

 input[type="submit"]:hover {
     background-color: #45a049;
 }

 .flex {
     display: flex;
     align-items: center;
     gap: 20px;
 }

 .gridContainer>label {
     font-weight: 100;
 }

 .gridContainer {
     display: grid;
     grid-template-columns: 30% auto;
     align-items: center;
 }

 h3.inputGroupHeader {
     position: absolute;
     top: -35px;
     background: white;
 }

 .inputGroup {
     border: 1px solid #00cbff;
     padding: 20px 15px;
     border-radius: 10px;
     margin: 20px 0px;
     position: relative;
 }

 .formTableRow->td,
 .formTableRow->th {
     height: 50px;
     text-align: center;
     vertical-align: middle;
 }

 input.tableInput {
     margin: 0;
     /* padding: 5px; */
     border: 1px solid;
 }

 .applicantPersonalInfoContainer {
     display: grid;
     grid-template-columns: 70% auto;
 }

 .applicantImageContainer {
     width: inherit;
 }

 img.applicantImage {
     width: 100%;
 }

 .logoContainer {
     display: flex;
     gap: 10px;
     align-items: center;
     justify-content: center;
 }

 .ku_logo {
     width: 100px;
 }

 img.ku_logo_img {
     width: inherit;
 }